<%- include("partials/header.ejs") %>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#">SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Services<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">project <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">contact<span class="sr-only">(current)</span></a>
                </li>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <div class=" jumbotron ">
            <div class="container" id="test1">

                <h1 class="display-2">shop</h1>

                <h2 class="display-4 ">LEADERS IN QUALITY CONSTRUCTION AND INFRASTRUTURE</h1>

                    <hr class="my-4 ">


                    <p class="lead ">
                        <a class="btn btn-danger btn-lg " href="# " role="button ">Learn more</a>
                    </p>
            </div>
        </div>
    </div>



    <%- include("partials/footer.ejs") %>